.app {
  width: 800px;
  min-height: 350px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

.icon {
  margin-right: 1rem;
  color: green;
  cursor: pointer;
}

.checked .todo-text {
  text-decoration: line-through;
  color: gray;
}

.checked .icon {
  color: gray;
}

.app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(65, 65, 233);
}

.button {
  border: 0;
  outline: none;
  padding: 0.5rem 0.5rem;
  flex: 1;
  cursor: pointer;
  font-weight: 700;
  background: rgb(65, 65, 233);
  color: white;
}

.button-ok {
  background-color: green;
}

.button-edit {
  background-color: darkgoldenrod;
}

.button-delete {
  background-color: darkred;
}

.input {
  padding: 0.5rem 0.5rem;
  border: 0;
  outline: none;
  flex: 3;
  width: 100%;
}

.main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
}

.todo-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
